.user-info-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.user-info-container h2 {
  margin-bottom: 10px;
}

.user-info-container p {
  margin: 5px 0;
}

.user-info-container strong {
  font-weight: bold;
}
